<mat-toolbar color="primary" class="toolbar">
  <span class="toolbar__text">Lista de productos</span>
  <span>{{total$ | async | currency}}</span>
  <button mat-icon-button [matBadge]="(productsToBuy$ | async).length" matBadgeColor="accent">
    <mat-icon>shopping_cart</mat-icon>
  </button>
</mat-toolbar>


<div class="content">
  <div class="list-products">
    <mat-card *ngFor="let product of products$ | async" [class.active]="(productSelected$ | async)?.id === product.id" [matBadge]="product.quantity" matBadgeColor="accent">
      <img src="assets/img/{{product.img}}" class="list-products__img">
      <mat-card-content>
        <h1 mat-card-title class="list-products__name">
          {{product.name}}
        </h1>
        <button mat-raised-button color="primary" (click)="openProduct(product)">Detalle</button>
      </mat-card-content>
    </mat-card>
  </div>




  <div class="product-selected" *ngIf="(productSelected$ | async) as productSelected">
    <mat-card>
      <img src="assets/img/{{productSelected.img}}" class="list-products__img">
      <mat-card-content>
        <h1 mat-card-title class="list-products__name">
          {{productSelected.name}}
        </h1>
        <p>
          {{productSelected.description}}
        </p>
        <div class="product-selected__price">
          <button mat-icon-button color="accent">
            <mat-icon>remove_circle</mat-icon>
          </button>
          <span style="text-align: center">{{productSelected.price | currency}}</span>
          <button mat-icon-button color="accent" (click)="addProduct(productSelected)">
            <mat-icon>add_circle</mat-icon>
          </button>
        </div>
      </mat-card-content>
    </mat-card>
  </div>




</div>

